################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/MongoDb.GenericRepository/bin/Debug
/src/MongoDb.GenericRepository/obj/Debug
/src/packages
/.vs/MongoDb.GenericRepository/v15
/src/MongoDb.GenericRepository/bin
/src/MongoDb.GenericRepository/obj
/packages
